extends ../layout

block content

    a(href='/bicicletas') Volver
    br
    br

    h2 Datos de Bicicleta Id


    div.div 
        table.table
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Color
                    th(scope='col') Modelo
                    th(scope='col') Ubicacion
            tbody
                tr
                    th(scope='row')
                        = bici.id
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion
    
    .container
    #main_map
    
    script(src='/javascripts/map.js')
